.classStanding-wrapper {
    /* border: 1px solid black; */
    height: 389px;
    font-style: normal;
    
}

.classStanding-wrapper .heading-wrap {
    display: flex;
    height: 80px;
    flex-direction: column;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.heading-wrap p {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* or 143% */
    color: #000000;
}

.heading-wrap p:nth-child(1) {
    transform: translateY(0px);
    margin-left: 20px;
    margin-top: -20px;

}

.heading-wrap p:nth-child(2) {
    margin-top: -30px;
    transform: translateX(-250px);
    font-size: 12px;
    /* border: 1px solid black; */


}

/* loggedIn-student-card  */
.loggedIn-student-card{
    background: #F3FBF9;
    margin-bottom: 40px;

}

/*other students cards  */
.student-card-wrappper{
    margin-top: -25px;
    height: 245px;
    overflow-x: hidden; 
    overflow-y: scroll;

}
.student-card-wrappper::-webkit-scrollbar {
    width: 5px;
    height: 81px;           /* width of the entire scrollbar */
}
.student-card-wrappper::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
}
.student-card-wrappper::-webkit-scrollbar-thumb {
    background: #E5E7EB;
    background-clip: padding-box;
    border-radius: 30px;
  }
  